
#cssmenu {
  background: #007dbb;
  margin: 0;
  width: auto;
  padding: 0;
  line-height: 1;
  display: block;
  position: relative;
  padding-left:0px;
  padding-top:0px;
  z-index: 9999;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
#cssmenu ul:after,
#cssmenu:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
#cssmenu ul li a {
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  /*border-left: 4px solid #FFF;    For Main Menu Hover */
  border-bottom: 3px solid #007dbb;
}
#cssmenu ul li ul {
  position: absolute;
  left: -9999px;
  top: auto;
}
#cssmenu ul li ul li {
  max-height: 0;
  position: absolute;
  -webkit-transition: max-height 0.4s ease-out;
  -moz-transition: max-height 0.4s ease-out;
  -ms-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  background: #ffffff;
}
#cssmenu ul li ul li a {
  font-size: 14px;
  text-transform: none;
  color: #666;
  letter-spacing: 1px;
  display: block;
  width: 225px;
  padding: 8px 10px 8px 10px;
  border: none;
  white-space:nowrap;
  border-left: 1px solid #007dbb;  /*Sub Menu Open*/
  border-right: 1px solid #007dbb;  /*Sub Menu Open*/
  border-bottom: 1px solid #007dbb;  /*Sub Menu Open*/
  background-color:#d4eaf5;  
}
#cssmenu ul li ul li:hover > a ,
#cssmenu ul li ul li.active > a {   /*Sub Menu Hover*/
  color: #007dbb;
  background-color:#fff;
}
#cssmenu ul li ul li:hover:after,
#cssmenu ul li ul li.active:after {
  background: #fff;
}
#cssmenu ul li ul li:hover > ul {
  left: 100%;
  top: 0;
}
#cssmenu ul li ul li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul > li {
  float: none;
  display: inline-block;
}
#cssmenu.align-center > ul {
  text-align: center;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu.align-right ul ul li:hover > ul {
  right: 100%;
  left: auto;
}
#cssmenu.align-right ul ul li a {
  text-align: right;
}
#cssmenu > ul > li:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 0;
  background: #ffffff;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 28px;
}
#cssmenu > ul > li.has-sub > a:after {
  display: block;
  content: "";
  background: #ffffff;
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 13px;
  right: 14px;
  top: 9px;
}
#cssmenu > ul > li.has-sub > a:before {
  display: block;
  content: "";
  border: 4px solid transparent;
  border-top-color: #007dbb;
  z-index: 2;
  height: 0;
  width: 0;
  position: absolute;
  right: 16px;
  top: 13px;
}
#cssmenu > ul > li > a {
  color: #FFF;
  padding: 7px 10px;
  letter-spacing: 1px;
  text-transform: none;
  font-size: 16px;
  z-index: 2;
  position: relative;
}
#cssmenu > ul > li:hover:after,
#cssmenu > ul > li.active:after {
  height: 100%;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a { /* Main Menu Hover */
  color: #007dbb;
  border: none;
  /*border-left: 4px solid #007dbb;*/
  border-bottom: 3px solid #007dbb;
}
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li.active > a:after {
  background: #007dbb;
}
#cssmenu > ul > li:hover > a:before,
#cssmenu > ul > li.active > a:before {
  border-top-color: #ffffff;
}
#cssmenu > ul > li:hover > ul {
  left: 0;
}
#cssmenu > ul > li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu > ul > li > a {
  display: block;
}
#cssmenu > ul > li {
  width: auto;
}
#cssmenu > ul > li > ul {
  width: 170px;
  display: block;
}
#cssmenu > ul > li > ul > li {
  width: 170px;
  display: block;
}
.title_tp
{
	border-top:2px solid #444;
}
#title
{
	border-bottom:2px solid #444;
	margin: 0px 0px 0px 30px;
	font-size: 20px;
	vertical-align:top;	
	color: #444;
	text-align:left;
	padding: 8px 0px 0px 0px;
	}
#lnk_bar {
	border-top:3px solid #666;
	margin: 0px 0px 0px 0px;
	text-align:right;
	font-size: 12px;
	line-height: 20px;	
	font-weight:bold;
	padding: 0px 30px 0px 0px;
	vertical-align:top;	
	width: 50px;
	white-space:nowrap;
}
#btn_bar
{
    border-top:3px solid #666;
	margin: 0px 0px 0px 0px;
	text-align:right;
	font-size: 12px;
	line-height: 20px;	
	font-weight:bold;
	padding: 0px 30px 0px 0px;
	vertical-align:bottom;
	width: 25px;
	}